@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --Font-color-Grey900: #1E1F20;
    --Font-color-Grey400:#898E99;
    --Primary-color: #411AD8;
    --Font-color-white900: white;
    --Font-color-white400: #B9B3D0;
}
html{
    scroll-behavior: smooth;
}

*{
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--Font-color-Grey900);
    cursor: none;
}


.Sumit-portfolio{
    margin: 30px 380px;

}

.cursor-dot{
    width: 5px;
    height: 5px;
    background-color: var(--Font-color-Grey900);
}

.cursor-outline{
    width: 30px;
    height: 30px;
    border: 2px solid var(--Font-color-Grey900);
}

.cursor-dot,
.cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
}
